body {
  margin: 0;
  padding: 0;
  background-color: #e0e1f7;
}
.barra {
  position: fixed;
  width: 99%;
  background-color: #03223f;
  padding: 0.5em;
}

.barra ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.barra li {
  float: left;
  margin-left: 0.3em;
}

.barra a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 0.8em;
  text-decoration: none;
}

.barra a:hover {
  background-color: #ddd;
  color: black;
}
.aboutMe {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  background-color: #010d23;
}
.encabezado {
  display: block;
  justify-content: space-around;
  padding: 2.8em 0;
  background-color: #010d23;
}
.lenguaje {
  width: 5em;
  margin: 3em;
  border-radius: 100%;
}
.skillHtml {
  margin-right: 7em;
}
.skillJs {
  margin-right: 7em;
}
.skillCss {
  margin-right: 3em;
}
.fila1 {
  display: flex;
  justify-content: right;
}
.fila2 {
  display: flex;
  justify-content: right;
}
.skills {
  display: flex;
  padding: 3em;
  justify-content: end;
}

.imagenProyectos {
  width: 100%;
  height: 100%;
  transition: filter 0.5s ease-in-out;
}
.imagenProyectos:hover {
  filter: blur(1px);
}

.texto-superpuesto {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35%;
  color: white;
  font-size: 1.7em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.texto__superpuesto--Tienda {
  left: 17%;
}

.texto__superpuesto--Conversor {
  left: 51%;
}
.texto__superpuesto--Gym {
  left: 84%;
}
.proyectoTienda:hover .texto-superpuesto {
  opacity: 1;
}

.proyectoGym:hover .texto-superpuesto {
  opacity: 1;
}
.proyectoConversor:hover .texto-superpuesto {
  opacity: 1;
}
.filaProyecto {
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}
.filaContactos {
  display: flex;
  justify-content: space-evenly;
}
.filaContactos a {
  display: inline;
  color: #e0e1f7;
  text-decoration: none;
}
.icono {
  color: #e0e1f7;
  font-size: 2em;
  margin-left: 0.8em;
}
.pie {
  margin-top: 8em;
  color: #e0e1f7;
  background-color: #03223f;
  padding: 3em;
}
#proyectos {
  padding: 1em;
}
#profilePic {
  width: 16em;
  height: 15.8em;
  border-radius: 100%;
}
#nombre {
  font-family: "Lato", sans-serif;
  font-size: 3em;
  color: #e0e1f7;
}
#aboutMe {
  font-size: 1.3em;
  font-weight: 100;
  color: #e0e1f7;
}
