* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffda;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#titulo {
  font-family: cursive;
}
.listaHecha__item {
  display: flex;
  font-size: 20px;
  margin: 5px;
}
.listaHecha__item h4 {
  display: list-item;
}
.listaHecha__item--cotejo {
  margin-left: 5px;
}
.pagina {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cuadro {
  background-color: #e6e9c2;
  display: inline-block;
  width: 350px;
  height: 300px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
#input {
  border-radius: 15px;
  background-color: #ced3aa;
  outline: none;
  font-size: 20px;
  text-align: center;
}
#botonAdd {
  padding: 3px;
  background-color: #ced3aa;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
}
.cotejo {
  margin: 0 5px 0 0;
}
.lista {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
